{
  "openapi": "3.1.0",
  "info": {
    "title": "Documentation API",
    "description": "A sample API that demonstrates DubStack's API documentation features",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.dubstack.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/docs": {
      "get": {
        "summary": "List documentation pages",
        "description": "Returns all documentation pages that the user has access to",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip for pagination",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Documentation pages retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "docs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Doc"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of documentation pages"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create documentation page",
        "description": "Creates a new documentation page",
        "requestBody": {
          "description": "Documentation page to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewDoc"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Documentation page created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Doc"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/docs/{id}": {
      "delete": {
        "summary": "Delete documentation page",
        "description": "Deletes a documentation page by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of documentation page to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Documentation page deleted successfully"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Documentation page not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "/docs/webhook": {
      "post": {
        "summary": "Documentation page created webhook",
        "description": "Notification sent when a new documentation page is created",
        "requestBody": {
          "description": "Documentation page that was created",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Doc"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received successfully"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Doc": {
        "type": "object",
        "required": [
          "id",
          "title",
          "content"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the documentation page"
          },
          "title": {
            "type": "string",
            "description": "Title of the documentation page"
          },
          "content": {
            "type": "string",
            "description": "Content of the documentation page in MDX format"
          },
          "slug": {
            "type": "string",
            "description": "URL-friendly slug for the page"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of when the page was created"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of when the page was last updated"
          }
        }
      },
      "NewDoc": {
        "type": "object",
        "required": [
          "title",
          "content"
        ],
        "properties": {
          "title": {
            "type": "string",
            "description": "Title of the documentation page"
          },
          "content": {
            "type": "string",
            "description": "Content of the documentation page in MDX format"
          },
          "slug": {
            "type": "string",
            "description": "Optional URL-friendly slug. Auto-generated if not provided"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "error",
          "message"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Error code"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message"
          },
          "field": {
            "type": "string",
            "description": "Field that caused the error (for validation errors)"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
